*{
    background-color: antiquewhite;
}
h1{
    font-weight: bolder;
    font-size: 100px;
    color: blue;
    padding-left: 40rem;
}

h2{
    padding-left: 50rem;
    font-style: italic;
    font-weight:normal;
}

th{
    text-align: center;
    width: 100;
    height: 50;
}
